<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  internalLogToConsole="true"
	  internalLogFile="EnvoyNlog.log"
	  throwConfigExceptions="true"
	  internalLogLevel="warn">

	<targets>
		<target name="Console" type="Console" layout="${date:format=HH\:mm\:ss.fff} ${message} ${exception:format=tostring}" />
		<target name="Debug" type="Debugger" layout="${date:format=HH\:mm\:ss} ${message} ${exception:format=tostring}" />
		<target name="flatFile" type="File" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${level:format=FirstCharacter} ${message} ${exception:format=tostring} ${logger:shortName=True}"
				fileName="${var:logfolder}\Envoy${date:format=yyyy-MM-dd}.log" maxArchiveFiles="10" encoding="utf-8" />
	</targets>
	<rules>
		<logger name="*" minLevel="Debug" writeTo="Debug" />
		<logger name="*" minLevel="Trace" writeTo="Console" />
		<logger name="*" minlevel="Trace" writeTo="flatFile" />
	</rules>
</nlog>